.barraNav {
    background-color: #422852;
    color: #C192F0;
    font-family: 'Montserrat', sans-serif;
    border: none;
}

.head {
    background-image: linear-gradient(to right,#422852 ,#C192F0); 
    color: #C192F0;
    
}
#footer {
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(to left, #523566, #BA77E6);
    font-family: 'Montserrat', sans-serif;
    color: #C192F0;
    font-weight: bold;
}

.titulos {
    color: #4B4052;
    font-family: 'Montserrat', sans-serif;
}
.fondos {
    background-color: #C192F0;
    padding: 10vh;
}
.encabezado {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.foto {
    height: 70vh;
    width: 55vh;
}

.logo {
    margin-left: 10px;
    margin-top: 10px;
    height: 91px;
    width: 101px;
}
.logoAnim {
    animation-name: logAn;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.59,-0.08,.57,1.04);
    animation-delay: 1s;
    animation-duration: 2s;

}
@keyframes logAn {
    0% {

    }
    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);

    }
}
.agrandar {
    transition: all 2s;
}
.agrandar:hover {
    height: 80vh;
    width: 65vh;
}

